<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  
    <style>
    .header {
        padding: 15px;
        background-color: #D3D3D3;
        font-family: 'Roboto', serif;
        font-size: 18px;
        /*text-shadow: 1px 1px 1px #aaa;*/
        /*margin: 5px;
        padding: 15px;
        max-width: 300px;
        height: 900px;
        border: 5px solid black;*/
    }
    .sectionWrap {
        display: flex;
    }
    .section {
        float: left;
        display: inline-block;
        width: 20%;
        padding: 15px;
        color: #D3D3D3;
        background-color: black;
        font-family: 'Roboto', serif;
        font-size: 18px;
        /*text-shadow: 1px 1px 1px #aaa;*/
        /*margin: 5px;
        padding: 15px;
        max-width: 300px;
        height: 900px;
        border: 5px solid black;*/
    }
    .sectionDesc {
        float: left;
        display: inline-block;
        width: 40%;
        padding: 15px;
        background-color: #DCDCDC;
        font-family: 'Roboto', serif;
        font-size: 18px;
        /*text-shadow: 1px 1px 1px #aaa;*/
        /*margin: 5px;
        padding: 15px;
        max-width: 300px;
        height: 1200px;
        border: 5px solid black;*/
    }
    .sectionDescPlain {
        float: left;
        display: inline-block;
        width: 40%;
        padding: 15px;
        color: #D3D3D3;
        background-color: black;
        font-family: 'Roboto', serif;
        font-size: 18px;
        /*text-shadow: 1px 1px 1px #aaa;*/
       /* margin: 5px;
        padding: 15px;
        max-width: 300px;
        height: 600px;
        border: 5px solid black;*/
    }
    @media all and (max-width:800px) //800px for tablets and phones.
    {
        #section, #sectionDesc, #sectionDescPlain
        {
            display: block; 
            float: none; 
            width: 100%;
        }
    }
    a:link, a:visited {
        background-color: green;
        color: white;
        padding: 10px 25px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, a:active {
        background-color: red;
    }
    </style>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
      function setDescriptions(description, simplified) {
        $('#articleDesc').text(description);
        $('#articleDescPlain').text(simplified);
      }
    </script>

  </head>


  <body>
    <div class="header">
      <h1>Central Indian Laws</h1>
      <h2><%= law.name %></h2>
    </div>

    
    <% for(var i = 0; i < law.sections.length; i++) { %>
      <div class="sectionWrap">
        <div class="section">
          <h2>Section</h2>
          <p id='articleDesc'><%= law.sections[i].article %></p>
        </div>
        <div class="sectionDesc">
          <h2>Description</h2>
          <p id='articleDesc'><%= law.sections[i].description %></p>
        </div>
        <div class="sectionDescPlain">
          <h2>For Mere Mortals</h2>
          <p id='articleDescPlain'><%= law.sections[i].simplified %></p>
        </div>
      </div>
    <% } %>

    <!-- <div class="sectionDesc">
      <h2>Description</h2>
      <p id='articleDesc'><%= law.sections[0].description %></p>
    </div>

    <div class="sectionDescPlain">
      <h2>For Mere Mortals</h2>
      <p id='articleDescPlain'><%= law.sections[0].simplified %></p>
    </div>
 -->
  </body>
</html>
